/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: url('background B.ullock.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container for Forms */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.form-header h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #333;
}

.form-box {
  background:rgba(255,255,255,10.12);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
  width:500px;
}
label{
  font-size: 40px;
  color:blue;
}

h1{
  margin-bottom: 15px;
  color: #333;
}

/* Form Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

